.chart-wrapper{
  display:flex;
  
  flex-direction: row;
}

.chart-options-container {
  display: flex;
  flex-direction: column;
  background: #474C55;
  padding: 1em;
  margin-left: 3.5em;
  width: 200px;
  border-radius: 20px;
  color: #fff;
  font-weight: bold; 
}


#chart-container{
  
  background: #474C55;
  max-width: 50rem;
  max-height: 50rem;
  padding: 3em; 
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin-left: 12%;
}

.table-container {
  display: flex;
  justify-content: center;
  background: #474C55;
  padding: 1em;
  border-radius: 20px;
  margin-top: 20px;
}

table {
  background: #474C55;
  color: #fff;
  border: solid .5em #474C55;
}


th {
  width: 200px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 3.8);
  background-color: #f5f5f5;
  border-bottom: #fff;
  color: #000;
}

td {
  
  width: 200px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 3.8);
  background-color: #474C55;
  opacity: 0.55;
  color: #f5f5f5;
  
}

tr:hover{
  background-color: #8992a3
  
}

.rev-logo {

}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #474C55;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    border-radius: 30px;
    width: 80%;
}

/* Add a black background color to the top navigation */
.topnav {

}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(177, 176, 176);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /*background-color:*/
    /*color: #6890fc;*/
  }



/* Profile CSS*/
.action{
    /* position: fixed;
    top: 20px; */
  }
  
  .action .profile
  {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  
  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu{
    position: absolute;
    right: 25px;
    top: 100px;
    padding: 10px 20px;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    background-color: #474C55;
    border: solid .3em rgba(255, 255, 255, 0.11);
    
  }
  
  .action .menu.active{
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu h3 {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 1.2em;
    flex-direction: column;
  }
  
  .action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
  }
  
  .action .menu::before{
    content: '';
    right: 25px;
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: #474C55;
  }
  
  .action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }
    .action .menu ul li img{
      max-width: 20px;
      margin-right: 10px;
      opacity: 0.5;
      transition: 0.5s;
    }
  
    .action .menu ul li:hover img{
      opacity: 1;
    }
  
    .action .menu ul li a{
      display: inline-block; 
      text-decoration: none;
      color: white;  
      font-weight: 500; 
      transition: 0.5s;
    }
  
    .action .menu ul li a:hover{
  
      color: #6890fc;
    }
