body{
  height: 100vh;
}
.info{
    background-color: #f26925;
    height: 2em;
    width: 24em;
    border: 1px solid black;
    border-radius: .5em;
    margin-top: .5em;
}
.trainingInfo{
  width: 49em;
}
.info > *{
    display:inline;
    border: none;
}
.row1{
    display:inline-block;
}
.col1{
    margin-left: 0;
}
.col2{
    margin-left: .5em;
}
h1, button, input{
    display:inline;
}
h1, h3{
    font-family: "Futura Std, Heavy", sans-serif;
    margin-left: .25em;
}
p{
    font-family: "Futura Std, Medium", sans-serif;
    font-size: 16px;
}
#updateBio > p, #newBio{
    background-color: #f26925;
    height: fit-content;
    min-height: 5em;
    width: 48em;
    padding: .5em;
    border: 1px solid black;
    border-radius: .5em;
    margin: .5em;
    text-align:left;
}
button, input, select, textarea{
    background-color: #f26925;
    height: 1.5em;
    border: 1px solid black;
    border-radius: .5em;
    font-family: "Futura Std, Medium", sans-serif;
    font-size: 16px;
}
#favTechnologies > p{
    background-color: #f26925;
    height: 2em;
    width: 24em;
    display:inline;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li.tech, ul > input{
    font-family: "Futura Std, Medium", sans-serif;
    font-size: 16px;
    background-color: #f26925;
    height: 2em;
    width: 24em;
    border: 1px solid black;
    border-radius: .5em;
    margin: .5em;
    padding-left: .25em;
    padding-top: .25em;
}
form{
    border: 1px solid black;
    border-radius: 1em;
    background-color: #B9B9BA;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 50em;
    margin-top: .5em;
}

/* header/nav bar styling */
header {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

}

.navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #474C55;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    border-radius: 30px;
    width: 80%;
}

/* Add a black background color to the top navigation */
.topnav {

}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(177, 176, 176);
    color: white;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    /*background-color:*/
    /*color: #6890fc;*/
  }



/* Profile CSS*/
.action{
    /* position: fixed;
    top: 20px; */
  }
  
  .action .profile
  {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
  }
  
  .action .profile img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .action .menu{
    position: absolute;
    right: 25px;
    top: 100px;
    padding: 10px 20px;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    background-color: #474C55;
  }
  
  .action .menu.active{
    visibility: visible;
    opacity: 1;
  }
  
  .action .menu h3 {
    display: flex;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color: white;
    line-height: 1.2em;
    flex-direction: column;
  }
  
  .action .menu h3 span{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
  }
  
  .action .menu::before{
    content: '';
    right: 25px;
    position: absolute;
    top: -5px;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    background-color: #474C55;
  }
  
  .action .menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
  }
    .action .menu ul li img{
      max-width: 20px;
      margin-right: 10px;
      opacity: 0.5;
      transition: 0.5s;
    }
  
    .action .menu ul li:hover img{
      opacity: 1;
    }
  
    .action .menu ul li a{
      display: inline-block; 
      text-decoration: none;
      color: white;  
      font-weight: 500; 
      transition: 0.5s;
    }
  
    .action .menu ul li a:hover{
  
      color: #6890fc;
    }
